h1 {
    color: #000;
text-align: center;
font-family: Notable;
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

p {
    color: #768BB8;

    font-family: "GFS Neohellenic";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.data {
   
}

#title-circle {
    width: 50%;
    position: relative;
    padding-left: 200px;
    top: 200px;
    z-index: -1;
}

#author-circle {
    width: 50%;
    position: relative;
    padding-left: 200px;
    top: 30px;
    z-index: -1;

}
.title-author {
    position: relative;
    padding-left: 40em;
    top: -200px;
    
}

#author {
    position: relative;
    top: -150px;
}
/* #title {
   
   
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

#author {
   
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
} */

/* #book-img {

position: relative;
top: -300px;
flex-shrink: 0;
    border: 3px solid #FECF5A;
} */

.image-link {
    
    position: relative;
    padding-left: 100px;
    top: -900px;
  
}

#book-img {
    /* width: 326px;
    height: 495px; */
    width: 423px;
    height: 569px;
    flex-shrink: 0;
    border: 3px solid #FECF5A; 
}

.description {
    width: 700px;
    position: relative;
    top: -250px;
    
   padding-left: 45em;
    

}

#arrow {
    /* position: relative; */
    position: sticky;
    
   top: 10px;
   z-index: 1;
}

#error-message {
    line-height: 1.8;
}