h1 {
    color: #768BB8;
    text-align: center;
    font-family: Notable;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #FAB5B8;
    text-align: center;
    font-family: "GFS Neohellenic";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #99C079;
    text-align: center;
    font-family: "GFS Neohellenic";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    color: #F7842F;
    /* text-align: center; */
    font-family: "GFS Neohellenic";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header {
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
    column-gap: 500px;
}

#title {
 width: 1400px;
 /* display: flex;
 align-self: center; */
 /* padding-left: 130px; */
}

#title,
#sub-title {
    margin-bottom: -27px;
}


#sub-title,
#sub-text {
    margin-bottom: -23px;
/* position: relative;
top: -20px; */
}

.submission-container {
margin-left:-199px;
}

.date-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

input::placeholder {
    font-size: 20px;
}

.genre-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.submit-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    /* padding-right: 50px; */
    padding-right: 160px;
    margin-top: -382px;
}

@media only screen and (max-width: 500px) {
    .submit-container {
        padding-left: 702px;
        padding-top: 200px;
    }
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#genre {
    font-size: 30px;
    font-family: "GFS Neohellenic";
    width: 314px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F7842F;
}

.date-input-container,
.genre-input-container {
    margin-bottom: -140px;
}

#date {
    
    font-size: 30px;
    font-family: "GFS Neohellenic";
    width: 314px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #F7842F;
}


#arrow {
    color: #99C079;
    width: 200px;
}